<ul class='movie-list'>
    {{#each this}}
    <li class='card-film'>
        <div class='card-film__box-img'>
            <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt={{title}} class='card-film__img' />
        </div>
        <div class='card-film__description'>
            <h2 class='card-film__title'>{{title}}</h2>
            <div class='card-film__inf'>
                {{#if genres}}
                <p class='card-film__genre'>{{genres}}</p>
                {{/if}}
                {{#if release_date}}
                <span class='year'>{{release_date}}</span>
                {{/if}}
                <span class='rating'>{{vote_average}}</span>
            </div>
        </div>
    </li>
    {{/each}}
</ul>